# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Testing
/coverage

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Build
.expo/
.expo-shared/
dist/
build/

# OS
Thumbs.db
.DS_Store
